<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>latitude</key>
		<real>40.750101</real>
		<key>longitude</key>
		<real>-74.028459</real>
		<key>length</key>
		<string>5</string>
		<key>type</key>
		<string>paid</string>
		<key>notes</key>
		<string>No Parking 12-2</string>
	</dict>
	<dict>
		<key>latitude</key>
		<real>40.7504</real>
		<key>longitude</key>
		<real>-74.028475</real>
		<key>length</key>
		<string>4</string>
		<key>type</key>
		<string>paid</string>
		<key>notes</key>
		<string>No Parking 12-2</string>
	</dict>
	<dict>
		<key>latitude</key>
		<real>40.758837</real>
		<key>longitude</key>
		<real>-74.028856</real>
		<key>length</key>
		<string>2</string>
		<key>type</key>
		<string>free</string>
		<key>notes</key>
		<string>No Parking 12-2</string>
	</dict>
	<dict>
		<key>latitude</key>
		<real>40.74878</real>
		<key>longitude</key>
		<real>-74.028862</real>
		<key>length</key>
		<string>2</string>
		<key>type</key>
		<string>free</string>
		<key>notes</key>
		<string>No Parking 12-2</string>
	</dict>
	<dict>
		<key>latitude</key>
		<real>40.748669</real>
		<key>longitude</key>
		<real>-74.027947</real>
		<key>length</key>
		<string>4</string>
		<key>type</key>
		<string>handicapped</string>
		<key>notes</key>
		<string>No Parking 12-2</string>
	</dict>
	<dict>
		<key>latitude</key>
		<real>40.748612</real>
		<key>longitude</key>
		<real>-74.027947</real>
		<key>length</key>
		<string>2</string>
		<key>type</key>
		<string>free</string>
		<key>notes</key>
		<string>No Parking 12-2</string>
	</dict>
<dict>
		<key>latitude</key>
		<real>40.748502</real>
		<key>longitude</key>
		<real>-74.026997</real>
		<key>length</key>
		<string>2</string>
		<key>type</key>
		<string>free</string>
		<key>notes</key>
		<string>No Parking 12-2</string>
	</dict>
<dict>
		<key>latitude</key>
		<real>40.747561</real>
		<key>longitude</key>
		<real>-74.029205</real>
		<key>length</key>
		<string>4</string>
		<key>type</key>
		<string>noParking</string>
		<key>notes</key>
		<string>No Parking 12-2</string>
	</dict>
<dict>
		<key>latitude</key>
		<real>40.747509</real>
		<key>longitude</key>
		<real>-74.029205</real>
		<key>length</key>
		<string>2</string>
		<key>type</key>
		<string>paid</string>
		<key>notes</key>
		<string>No Parking 12-2</string>
	</dict><dict>
		<key>latitude</key>
		<real>40.747407</real>
		<key>longitude</key>
		<real>-74.028314</real>
		<key>length</key>
		<string>4</string>
		<key>type</key>
		<string>free</string>
		<key>notes</key>
		<string>No Parking 12-2</string>
	</dict><dict>
		<key>latitude</key>
		<real>40.747346</real>
		<key>longitude</key>
		<real>-74.028314</real>
		<key>length</key>
		<string>3</string>
		<key>type</key>
		<string>free</string>
		<key>notes</key>
		<string>No Parking 12-2</string>
	</dict><dict>
		<key>latitude</key>
		<real>40.74724</real>
		<key>longitude</key>
		<real>-74.027392</real>
		<key>length</key>
		<string>4</string>
		<key>type</key>
		<string>paid</string>
		<key>notes</key>
		<string>No Parking 12-2</string>
	</dict><dict>
		<key>latitude</key>
		<real>40.747181</real>
		<key>longitude</key>
		<real>-74.027408</real>
		<key>length</key>
		<string>4</string>
		<key>type</key>
		<string>noParking</string>
		<key>notes</key>
		<string>No Parking 12-2</string>
	</dict><dict>
		<key>latitude</key>
		<real>40.747045</real>
		<key>longitude</key>
		<real>-74.026338</real>
		<key>length</key>
		<string>4</string>
		<key>type</key>
		<string>free</string>
		<key>notes</key>
		<string>No Parking 12-2</string>
	</dict><dict>
		<key>latitude</key>
		<real>40.74699</real>
		<key>longitude</key>
		<real>-74.026372</real>
		<key>length</key>
		<string>2</string>
		<key>type</key>
		<string>free</string>
		<key>notes</key>
		<string>No Parking 12-2</string>
	</dict><dict>
		<key>latitude</key>
		<real>40.746285</real>
		<key>longitude</key>
		<real>-74.029629</real>
		<key>length</key>
		<string>2</string>
		<key>type</key>
		<string>paid</string>
		<key>notes</key>
		<string>No Parking 12-2</string>
	</dict><dict>
		<key>latitude</key>
		<real>40.746224</real>
		<key>longitude</key>
		<real>-74.029637</real>
		<key>length</key>
		<string>4</string>
		<key>type</key>
		<string>paid</string>
		<key>notes</key>
		<string>No Parking 12-2</string>
	</dict><dict>
		<key>latitude</key>
		<real>40.746119</real>
		<key>longitude</key>
		<real>-74.0278701</real>
		<key>length</key>
		<string>4</string>
		<key>type</key>
		<string>paid</string>
		<key>notes</key>
		<string>No Parking 12-2</string>
	</dict>
<dict>
		<key>latitude</key>
		<real>40.746066</real>
		<key>longitude</key>
		<real>-74.028706</real>
		<key>length</key>
		<string>4</string>
		<key>type</key>
		<string>free</string>
		<key>notes</key>
		<string>No Parking 12-2</string>
	</dict><dict>
		<key>latitude</key>
		<real>40.75966</real>
		<key>longitude</key>
		<real>-74.027824</real>
		<key>length</key>
		<string>4</string>
		<key>type</key>
		<string>free</string>
		<key>notes</key>
		<string>No Parking 12-2</string>
	</dict>
<dict>
		<key>latitude</key>
		<real>40.745911</real>
		<key>longitude</key>
		<real>-74.027842</real>
		<key>length</key>
		<string>4</string>
		<key>type</key>
		<string>noParking</string>
		<key>notes</key>
		<string>No Parking 12-2</string>
	</dict><dict>
		<key>latitude</key>
		<real>40.745728</real>
		<key>longitude</key>
		<real>-74.026732</real>
		<key>length</key>
		<string>4</string>
		<key>type</key>
		<string>free</string>
		<key>notes</key>
		<string>No Parking 12-2</string>
	</dict>
<dict>
		<key>latitude</key>
		<real>40.745001</real>
		<key>longitude</key>
		<real>-74.030004</real>
		<key>length</key>
		<string>4</string>
		<key>type</key>
		<string>free</string>
		<key>notes</key>
		<string>No Parking 12-2</string>
	</dict>

<dict>
		<key>latitude</key>
		<real>40.74495</real>
		<key>longitude</key>
		<real>-74.030012</real>
		<key>length</key>
		<string>3</string>
		<key>type</key>
		<string>paid</string>
		<key>notes</key>
		<string>No Parking 12-2</string>
	</dict><dict>
		<key>latitude</key>
		<real>40.744842</real>
		<key>longitude</key>
		<real>-74.029079</real>
		<key>length</key>
		<string>3</string>
		<key>type</key>
		<string>paid</string>
		<key>notes</key>
		<string>No Parking 12-2</string>
	</dict><dict>
		<key>latitude</key>
		<real>40.744781</real>
		<key>longitude</key>
		<real>-74.029095</real>
		<key>length</key>
		<string>2</string>
		<key>type</key>
		<string>free</string>
		<key>notes</key>
		<string>No Parking 12-2</string>
	</dict><dict>
		<key>latitude</key>
		<real>40.744716</real>
		<key>longitude</key>
		<real>-74.028373</real>
		<key>length</key>
		<string>4</string>
		<key>type</key>
		<string>noParking</string>
		<key>notes</key>
		<string>No Parking 12-2</string>
	</dict><dict>
		<key>latitude</key>
		<real>40.744664</real>
		<key>longitude</key>
		<real>-74.028395</real>
		<key>length</key>
		<string>3</string>
		<key>type</key>
		<string>paid</string>
		<key>notes</key>
		<string>No Parking 12-2</string>
	</dict><dict>
		<key>latitude</key>
		<real>40.744566</real>
		<key>longitude</key>
		<real>-74.027837</real>
		<key>length</key>
		<string>1</string>
		<key>type</key>
		<string>handicapped</string>
		<key>notes</key>
		<string>No Parking 12-2</string>
	</dict><dict>
		<key>latitude</key>
		<real>40.743737</real>
		<key>longitude</key>
		<real>-74.030358</real>
		<key>length</key>
		<string>3</string>
		<key>type</key>
		<string>free</string>
		<key>notes</key>
		<string>No Parking 12-2</string>
	</dict><dict>
		<key>latitude</key>
		<real>40.74368</real>
		<key>longitude</key>
		<real>-74.030358</real>
		<key>length</key>
		<string>3</string>
		<key>type</key>
		<string>free</string>
		<key>notes</key>
		<string>No Parking 12-2</string>
	</dict><dict>
		<key>latitude</key>
		<real>40.73573</real>
		<key>longitude</key>
		<real>-74.024941</real>
		<key>length</key>
		<string>3</string>
		<key>type</key>
		<string>free</string>
		<key>notes</key>
		<string>No Parking 12-2</string>
	</dict><dict>
		<key>latitude</key>
		<real>40.73522</real>
		<key>longitude</key>
		<real>-74.029511</real>
		<key>length</key>
		<string>3</string>
		<key>type</key>
		<string>free</string>
		<key>notes</key>
		<string>No Parking 12-2</string>
	</dict><dict>
		<key>latitude</key>
		<real>40.743449</real>
		<key>longitude</key>
		<real>-74.028794</real>
		<key>length</key>
		<string>2</string>
		<key>type</key>
		<string>paid</string>
		<key>notes</key>
		<string>No Parking 12-2</string>
	</dict><dict>
		<key>latitude</key>
		<real>40.743351</real>
		<key>longitude</key>
		<real>-74.028238</real>
		<key>length</key>
		<string>2</string>
		<key>type</key>
		<string>paid</string>
		<key>notes</key>
		<string>No Parking 12-2</string>
	</dict><dict>
		<key>latitude</key>
		<real>40.743302</real>
		<key>longitude</key>
		<real>-74.028266</real>
		<key>length</key>
		<string>2</string>
		<key>type</key>
		<string>handicapped</string>
		<key>notes</key>
		<string>No Parking 12-2</string>
	</dict><dict>
		<key>latitude</key>
		<real>40.743265</real>
		<key>longitude</key>
		<real>-74.027748</real>
		<key>length</key>
		<string>4</string>
		<key>type</key>
		<string>paid</string>
		<key>notes</key>
		<string>No Parking 12-2</string>
	</dict><dict>
		<key>latitude</key>
		<real>40.743216</real>
		<key>longitude</key>
		<real>-74.027769</real>
		<key>length</key>
		<string>4</string>
		<key>type</key>
		<string>paid</string>
		<key>notes</key>
		<string>No Parking 12-2</string>
	</dict><dict>
		<key>latitude</key>
		<real>40.743076</real>
		<key>longitude</key>
		<real>-74.026728</real>
		<key>length</key>
		<string>4</string>
		<key>type</key>
		<string>free</string>
		<key>notes</key>
		<string>No Parking 12-2</string>
	</dict><dict>
		<key>latitude</key>
		<real>40.743022</real>
		<key>longitude</key>
		<real>-74.026731</real>
		<key>length</key>
		<string>4</string>
		<key>type</key>
		<string>free</string>
		<key>notes</key>
		<string>No Parking 12-2</string>
	</dict><dict>
		<key>latitude</key>
		<real>40.742462</real>
		<key>longitude</key>
		<real>-74.030762</real>
		<key>length</key>
		<string>4</string>
		<key>type</key>
		<string>free</string>
		<key>notes</key>
		<string>No Parking 12-2</string>
	</dict><dict>
		<key>latitude</key>
		<real>40.742425</real>
		<key>longitude</key>
		<real>-74.030846</real>
		<key>length</key>
		<string>1</string>
		<key>type</key>
		<string>paid</string>
		<key>notes</key>
		<string>No Parking 12-2</string>
	</dict><dict>
		<key>latitude</key>
		<real>40.742301</real>
		<key>longitude</key>
		<real>-74.029896</real>
		<key>length</key>
		<string>4</string>
		<key>type</key>
		<string>free</string>
		<key>notes</key>
		<string>No Parking 12-2</string>
	</dict><dict>
		<key>latitude</key>
		<real>40.742252</real>
		<key>longitude</key>
		<real>-74.029906</real>
		<key>length</key>
		<string>2</string>
		<key>type</key>
		<string>noParking</string>
		<key>notes</key>
		<string>No Parking 12-2</string>
	</dict><dict>
		<key>latitude</key>
		<real>40.742181</real>
		<key>longitude</key>
		<real>-74.029173</real>
		<key>length</key>
		<string>2</string>
		<key>type</key>
		<string>noParking</string>
		<key>notes</key>
		<string>No Parking 12-2</string>
	</dict><dict>
		<key>latitude</key>
		<real>40.742128</real>
		<key>longitude</key>
		<real>-74.029178</real>
		<key>length</key>
		<string>4</string>
		<key>type</key>
		<string>free</string>
		<key>notes</key>
		<string>No Parking 12-2</string>
	</dict><dict>
		<key>latitude</key>
		<real>40.742128</real>
		<key>longitude</key>
		<real>-74.029178</real>
		<key>length</key>
		<string>4</string>
		<key>type</key>
		<string>free</string>
		<key>notes</key>
		<string>No Parking 12-2</string>
	</dict><dict>
		<key>latitude</key>
		<real>40.742087</real>
		<key>longitude</key>
		<real>-74.028625</real>
		<key>length</key>
		<string>4</string>
		<key>type</key>
		<string>free</string>
		<key>notes</key>
		<string>No Parking 12-2</string>
	</dict><dict>
		<key>latitude</key>
		<real>40.742036</real>
		<key>longitude</key>
		<real>-74.028636</real>
		<key>length</key>
		<string>3</string>
		<key>type</key>
		<string>handicapped</string>
		<key>notes</key>
		<string>No Parking 12-2</string>
	</dict><dict>
		<key>latitude</key>
		<real>40.741963</real>
		<key>longitude</key>
		<real>-74.027896</real>
		<key>length</key>
		<string>3</string>
		<key>type</key>
		<string>free</string>
		<key>notes</key>
		<string>No Parking 12-2</string>
	</dict><dict>
		<key>latitude</key>
		<real>40.74191</real>
		<key>longitude</key>
		<real>-74.027907</real>
		<key>length</key>
		<string>3</string>
		<key>type</key>
		<string>free</string>
		<key>notes</key>
		<string>No Parking 12-2</string>
	</dict><dict>
		<key>latitude</key>
		<real>40.741817</real>
		<key>longitude</key>
		<real>-74.026997</real>
		<key>length</key>
		<string>3</string>
		<key>type</key>
		<string>free</string>
		<key>notes</key>
		<string>No Parking 12-2</string>
	</dict><dict>
		<key>latitude</key>
		<real>40.741769</real>
		<key>longitude</key>
		<real>-74.027019</real>
		<key>length</key>
		<string>2</string>
		<key>type</key>
		<string>handicapped</string>
		<key>notes</key>
		<string>No Parking 12-2</string>
	</dict><dict>
		<key>latitude</key>
		<real>40.74153</real>
		<key>longitude</key>
		<real>-74.03105</real>
		<key>length</key>
		<string>3</string>
		<key>type</key>
		<string>free</string>
		<key>notes</key>
		<string>No Parking 12-2</string>
	</dict><dict>
		<key>latitude</key>
		<real>40.741477</real>
		<key>longitude</key>
		<real>-74.031057</real>
		<key>length</key>
		<string>3</string>
		<key>type</key>
		<string>free</string>
		<key>notes</key>
		<string>No Parking 12-2</string>
	</dict>
<dict>
		<key>latitude</key>
		<real>40.741372</real>
		<key>longitude</key>
		<real>-74.030165</real>
		<key>length</key>
		<string>3</string>
		<key>type</key>
		<string>free</string>
		<key>notes</key>
		<string>No Parking 12-2</string>
	</dict>
<dict>
		<key>latitude</key>
		<real>40.741321</real>
		<key>longitude</key>
		<real>-74.030184</real>
		<key>length</key>
		<string>3</string>
		<key>type</key>
		<string>free</string>
		<key>notes</key>
		<string>No Parking 12-2</string>
	</dict><dict>
		<key>latitude</key>
		<real>40.741246</real>
		<key>longitude</key>
		<real>-74.029473</real>
		<key>length</key>
		<string>3</string>
		<key>type</key>
		<string>free</string>
		<key>notes</key>
		<string>No Parking 12-2</string>
	</dict>
<dict>
		<key>latitude</key>
		<real>40.741197</real>
		<key>longitude</key>
		<real>-74.029489</real>
		<key>length</key>
		<string>3</string>
		<key>type</key>
		<string>handicapped</string>
		<key>notes</key>
		<string>No Parking 12-2</string>
	</dict>
<dict>
		<key>latitude</key>
		<real>40.741155</real>
		<key>longitude</key>
		<real>-74.028947</real>
		<key>length</key>
		<string>3</string>
		<key>type</key>
		<string>paid</string>
		<key>notes</key>
		<string>No Parking 12-2</string>
	</dict>
<dict>
		<key>latitude</key>
		<real>40.741102</real>
		<key>longitude</key>
		<real>-74.02895</real>
		<key>length</key>
		<string>3</string>
		<key>type</key>
		<string>paid</string>
		<key>notes</key>
		<string>No Parking 12-2</string>
	</dict>
<dict>
		<key>latitude</key>
		<real>40.74102</real>
		<key>longitude</key>
		<real>-74.02821</real>
		<key>length</key>
		<string>2</string>
		<key>type</key>
		<string>paid</string>
		<key>notes</key>
		<string>No Parking 12-2</string>
	</dict>
<dict>
		<key>latitude</key>
		<real>40.740967</real>
		<key>longitude</key>
		<real>-74.02823</real>
		<key>length</key>
		<string>2</string>
		<key>type</key>
		<string>handicapped</string>
		<key>notes</key>
		<string>No Parking 12-2</string>
	</dict>
<dict>
		<key>latitude</key>
		<real>40.740855</real>
		<key>longitude</key>
		<real>-74.027239</real>
		<key>length</key>
		<string>3</string>
		<key>type</key>
		<string>noParking</string>
		<key>notes</key>
		<string>No Parking 12-2</string>
	</dict>

</array>
</plist>